.loadingContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingContainer>span{
    margin-left: 0.5rem;
    color: #666;
}