#myAddress{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index:99;
    transition: all 300ms;
}

:global(.message-fade-appear){
    opacity: 0;
    transform: translateX(200px)
}

:global(.message-fade-enter-done){
    opacity: 1;
    transform: translateX(0)
}